# Build system
target/

# IDE from JetBrains
.idea/
fhnw-cpib.iml
fhnw-cpib-compiler/fhnw-cpib-compiler.iml
fhnw-cpib-interpreter/fhnw-cpib-interpreter.iml
fhnw-cpib-platform/fhnw-cpib-platform.iml
fhnw-cpib-vm/fhnw-cpib-vm.iml

# Generated artifacts
*.class
*.jar
