# Build system
target/

# IDE from JetBrains
.idea/
fhnw-cpib.iml
fhnw-cpib-compiler/fhnw-cpib-compiler.iml
fhnw-cpib-jasmin/fhnw-cpib-jasmin.iml
fhnw-cpib-platform/fhnw-cpib-platform.iml

# Generated artifacts
*.class
*.jar
